@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@200;400&display=swap');

:root {
	--primary: rgb(255, 255, 255);
	--secondary: white;
	--background: #000000;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: white;

}

body {
	background-color: var(--background);
}

.wrapper{
	display: grid;
	display: -ms-grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
               "nav1  nav2  nav3  nav4"
               "intro  intro  brand1  brand1"
			   "intro  intro  brand1  brand1"
			   "brand2  brand2  project1 project1"
			   "brand2  brand2  project2  project2"
			   "footer  footer  footer  footer";
	border: 1px solid white;
}


.intro{
    grid-area: intro;
	border-bottom: 1px solid white;
}

.content_main_full{
    grid-column-start: 1;
    grid-column-end: 5;
	grid-row: 3;
}

.content_main{
    grid-area: brand2;
	padding: 2rem;
}

.content_side{
    grid-area: brand1;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	padding: 2rem;
}

.content_project_1{
    grid-area: project1;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	padding: 2rem;
}

.content_project_2{
    grid-area: project2;
	border-left: 1px solid white;
	padding: 2rem;
}

h1 {
	font-family: "Roboto Mono";
	font-weight: 200;
	font-size: 2rem;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 3rem;
	margin-bottom: 1rem;
	font-weight: 400;
	font-style: normal;
	font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
}


.nav_vrch {
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
	position: fixed;
    top: 0;
}

.nav_1{
	grid-area: nav1;
	border-color: white;
    border-style: solid;
    border-width: 0 0 1px 0;
	margin: 0;
	padding: 0;
}

.nav_2{
	grid-area: nav2;
	border-color: white;
    border-style: solid;
    border-width: 0 0 1px 1px;
	margin: 0;
	padding: 0;
}

.nav_3{
	grid-area: nav3;
	border-color: white;
    border-style: solid;
    border-width: 0 0 1px 1px;
	margin: 0;
	padding: 0;
}

.nav_4{
	grid-area: nav4;
	border-color: white;
    border-style: solid;
    border-width: 0 0 1px 1px;
	margin: 0;
	padding: 0;
}

.nav_link{
	display: block;
	width: 100%;
	height: 3.5em;
	line-height: 3.5em;
	text-align: center;
	margin: auto;
}


footer{
	grid-area: footer;
	border-top: 1px white solid;
	height: 5rem;

}

.responsive_img{
	width: 75%;
    height: auto;
	margin: 1rem;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid  rgb(39, 39, 39);
	background-color:  rgb(39, 39, 39);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid #7a7a7a;
	background-color: #7a7a7a;
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid  #7a7a7a;
	background-color:  rgb(39, 39, 39);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 800px) {
	/* For mobile phones: */
	.wrapper{
	grid-template-areas:
               "nav1  nav1  nav2  nav2"
			   "nav3  nav3  nav4  nav4"
               "intro  intro  intro  intro"
			   "brand1  brand1  brand1  brand1"
			   "project1  project1  project1  project1"
			   "project2  project2  project2  project2"
			   "brand2  brand2  brand2  brand2 "
			   "footer  footer  footer	footer";
	}

	.nav_3{	
		grid-area: nav3;
	border-color: white;
    border-style: solid;
    border-width: 0 0 1px 0;
	margin: 0;
	padding: 0;
	}

	.content_side{
		grid-area: brand1;
		border-bottom: 1px solid white;
		border-left: 0;
		padding: 2rem;
	}
	
	.content_project_1{
		grid-area: project1;
		border-bottom: 1px solid white;
		border-left: 0;
		padding: 2rem;
	}
	
	.content_project_2{
		grid-area: project2;
		border-bottom: 1px solid white;
		border-left: 0;
		padding: 2rem;
	}

  }

  @media only screen and (max-width: 1250px) {
	
	h1{
		font-size: 1.5rem;
	}

  }