<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="{{ metadata.language }}">

	
	{% include "components/head.njk" %}
	

	<body>
		
       <div class="wrapper">
		   
		   
		   <div class="nav_1">
		   <a class="nav_link" href="{{ metadata.url }}">Úvod</a>
		   </div>
		   <div class="nav_2">
		   <a class="nav_link" href="{{ metadata.url }}/aktualne">Aktuálne</a>
		   </div>
		   <div class="nav_3">
		   <a class="nav_link" href="{{ metadata.url }}/kto-sme">Kto sme</a>
		   </div>
		   <div class="nav_4">
		   <a class="nav_link" href="{{ metadata.url }}/kontakt">Kontakt</a>
		   </div>
		  
			{{ layoutContent | safe }}

		{% include "components/footer.njk" %}
       </div>
	</body>

</html>
