---
layout: layouts/base.njk
section: home
---

<header class="intro">
			<em>
				<a href="{{ '/' | url }}">Peripetie</br>architektov</br>doby</a>
			</em>	
			{{ layoutContent | safe }}
		</header>

<aside class="content_side">
<center>
<img src="_includes/assets/img/brand_1.svg" class="responsive_img">	
</center>
</aside>

<main class="content_main">
<center>
<img src="_includes/assets/img/brand_2.svg" class="responsive_img">	
</center>			
</main>

<aside class="content_project_1">
<h1>Kasscha</h1>
<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide.</p>			
</aside>

<aside class="content_project_2">
<h1>After.ka</h1>
<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide.</p>			
</aside>


